* {
  box-sizing: border-box;
}

.container img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  font-family: 'Poppins' sans-serif;
}

.numbers,
.buttons {
  position: absolute;
  bottom: 40%;
  left: 45%;
  right: 28%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.numbers {
  bottom: 50%;
  align-items: center;
  color: #c23616;
}

button {
  width: 100%;
  font-size: 2rem;
  display: flex;
  background-color: #e1b12c;
  color: white;
  justify-content: space-between;
  border-radius: 10%;
  margin: 8px;
  cursor: pointer;
}

span {
  font-size: 7rem;
}
